body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* @tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply w-full px-4 py-2 border border-gray-300 rounded-md text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-400;
  }

  .btn {
    @apply px-4 py-2 rounded text-white font-medium shadow-sm transition-colors duration-200;
  }

  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-600;
  }

  .btn-yellow {
    @apply bg-yellow-500 hover:bg-yellow-600;
  }

  .btn-green {
    @apply bg-green-600 hover:bg-green-700;
  }

  .btn-red {
    @apply bg-red-500 hover:bg-red-600;
  }

  .btn-gray {
    @apply bg-gray-500 hover:bg-gray-600;
  }
} */
