.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff5f8;
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: #d63384;
  margin-bottom: 0.5rem;
}

.welcome {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
  color: #333;
}

.instruction {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #666;
}

.loginButton {
  background-color: #d63384;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 1rem;
}

.loginButton:hover {
  background-color: #c2186b;
}

.loginFormContainer {
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
}
